.barra {
  width: 100%;
  position: fixed;
  top: 0;
}
nav {
  background-color: #DBF9B8;
  color: #000000;
}

.caja{
  margin-top: 30PX;
  height: 100%;
}
.caja2 {
  margin-top: 60px;
  height: 100%;
}
.contenido_nuevo {
  margin-top: 100px;
}
.caja3 {
  height: 90px;
  border: 1px solid black;
}
.fila {
  height: 30px;
  border: 1px solid black;
}
